<div class="col-sm-4">
  <div class="card">
    <img src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/iphone-15-finish-select-202309-6-7inch-pink_FMT_WHH?wid=1200&hei=630&fmt=jpeg&qlt=95&.v=1692923783575" class="card-img-top product-image" alt="...">
    <div class="card-body">
      <h4 class="card-title"><%= product.name %></h4>
      <p class="card-text"><%= product.description %></p>
      <p class="card-text"><%= "#{product.price}$" %></p>
      <a href="#" class="btn btn-primary">View</a>
    </div>
  </div>
</div>
